.column {
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.text {
  color: var(--primary-text);
  border-bottom: 2px solid grey;
}

.text-center {
  align-self: center;
  text-align: center;
  justify-self: center;
}

.btn {
  border: 0;
  font-size: 1.2em;
}

.circle-btn {
  @extend .btn;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}