.contact-details {
  &__content {
    width: 100%;
    display: flex;
    margin: 20px auto;
  }
  .btn-back {
    background: none;
    align-self: flex-start;
    padding: 0;
    color: var(--primary-green);
  }
  &__avatar {
    width: 280px;
    height: 100%;
  }
  &__avatar,
  &__info {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  &__info {
    flex-grow: 1;
    .fas { cursor: pointer; }
  }
  &__delete {
    margin-left: 5px;
  }
  // modificators
  &--btn-add {
    padding: 7px;
    border-radius: 4px;
    margin: 0;
  }
}
