.contact-details {
  &__content {
    width: 100%;
    display: flex;
    margin: 20px auto;
  }
  .btn-back {
    background: none;
    align-self: flex-start;
    padding: 0;
    color: var(--primary-green);
  }
  &__avatar {
    width: 280px;
    height: 100%;
  }
  &__avatar,
  &__info {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}
